* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
:focus,
:active {
    outline: 0;
}
html,
body {
    height: 100%;
}
body {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
    font-size: inherit;
}
input[type=date]::-webkit-datetime-edit-text:not([aria-valuenow]),
input[type=date]::-webkit-datetime-edit-year-field:not([aria-valuenow]),
input[type=date]::-webkit-datetime-edit-month-field:not([aria-valuenow]),
input[type=date]::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}
button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}
a {
    color: inherit;
}
a:link,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

.header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7B2CBF;
}

.header-logo__image {
    vertical-align: middle;
}

.react-calendar {
    border: none;
}

.header-logo > a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-logo__text {
    font-size: 23px;
    color: #fff;
}
